<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div>
  <img src='https://imgur.com/jFaSxym.png' style='border:6px dashed red'>
</div>
